@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
/* height: 100vh; */
}

.nav-button {
cursor: pointer;
}
.nav-button.active {
  /* background-color: yellow; */
}
.about-me-text {
  white-space: pre-line;
}

.background-gradient {
  background: radial-gradient(
    circle at top center,
    hsla(222, 80%, 60%, 0.5) 0%,
    hsla(222, 0%, 0%, 0) 50%,
    hsla(222, 0%, 0%, 0) 100%
  );
}